{% extends "default.html" %}
{% block title %}Firmware Component Keywords{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-keywords') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Search Keywords</h2>
<table class="table">
{% for kw in md.keywords %}
  <tr class="row {% if kw == md.keywords[0] %}table-borderless{% endif %}">
    <td class="col col-lg-10"><pre>{{kw.value}}</pre></td>
    <td class="col">
{% if md.check_acl('@modify-keywords') %}
{% if kw.priority < 5 %}
      <form action="{{url_for('components.route_keyword_delete', component_id=md.component_id, keyword_id=kw.keyword_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
{% else %}
      <a class="btn btn-block btn-danger disabled" href="#">Delete</a>
{% endif %}
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify-keywords') %}
  <form method="post" action="{{url_for('components.route_keyword_create', component_id=md.component_id)}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-lg-10">
      <input type="text" class="form-control" name="value" required>
    </td>
    <td class="col">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>
{% endblock %}
